/* common share style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* SAME THINGS */
.text-primary{
    color: #FD6E0A;
}
/* main margin */
main section{
    margin-top: 130px;
}
/* btn-Primary */
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}
/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-tittle{
        color: var(--Dark-01, #181818);
        font-size: 45px;
        font-weight: 800;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    color:#474747;
}

/* Header related style */
.header{
    background-color:#FFF8F3 ;
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position:bottom right;
}
/* Banner style */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 650px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px ;
    margin-bottom: 20px;
}
.description{
    margin-top:0px;

}

/* main section start */
/* About section start */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main .about{
    /* margin: 0 230px; */
    padding: 130px;
    border-radius: 10px;
    background-color:#FFF8F3 ;
    margin:100px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-description-id{
    padding:30px 150px;
}
/* what description er container */
/* .skills-container .skill{
    width: 267px;
    height: 377px;
    background-color: violet;
    margin: 5px;
    
} */
.skills-container .skill{
    padding:30px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 6px 50px 0 rgba(0,0,0,0.06)

    
}
.skill-description{
    color: #757575;
}
.skills-container{
    display: flex;
    gap:25px;
}
/* resume style start */
.resume-col-title{
    color:#474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap:55px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top:0px;
}
.resume-item-description,.resume-item-institute{
    color: #757575;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style start */

footer{

    background-color: #FFF8F3;
    display: flex;
    gap: 100px;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-col{
    width: 50%;
}
.social-link a {
    margin-right: 25px;
}
.contract input[type="text"],.contract input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0;
    width: 100%;


}